
@media screen and (max-width: 785px) {

    /* ----drop_down--------- */
    .menu {
        border: 1px solid #fff;
        padding: .2em .5em;
        border-radius: 4px;
    }

    .menu i {
        color: white;
    }

    nav .menu-list {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10000;
        /* background-color: blue; */
        text-align: center;
        z-index: -300000;
        display: none;
        padding-top: 4em;
        background-color: #212830;
    }

    nav .menu-list a {
        margin: 0;
    }

    nav .menu-list li {
        padding: 1em 0;
    }

    .menu:hover .menu-list {
        display: block;
    }

    /* ----drop_down--end------- */

}


@media screen and (min-width: 785px) {
    .menu i {
        display: none;
    }

}



@media screen and (max-width: 1238px) {

    .section-one .container {
        margin-left: 1.5em;
    }
}


@media screen and (max-width: 640px) {

    /* ---------social_icon------- */
    .social-icon {
        /* display: none; */
        flex-direction: row;
        position: absolute;
        top: 0;
        right: .8em;
        margin: 0;
    }

    .social-icon a {
        color: #212830;
        font-size: 15px;
        margin-inline: .5em;
    }

    .social-icon span {
        display: none;
    }

    /* ---------social_icon---end------- */    

    /* --------section-01-container------ */

    .section-one .container {
        width: 310px;
    }

    .section-one .container h1 {
        font-size: 2rem;
        margin: .5rem 0;
    }

    .container p {
        font-size: 15px;
        font-weight: bold;
    }

    .second-para {
        margin-bottom: .5rem;
    }

    .section-one .container input {
        padding: .5em .5em;
        font-size: 15px;
    }
    
    .section-one .container a {
        padding: .5em .5em;
    }

    /* --------section-01-container---end--- */

    /* -----trainer-section-------- */
    .left-trainer {
        width: 400px;
        height: 440px;
    }

    .left-trainer h1 {
        font-size: 30px;
    }

    .left-trainer p {
        width: 360px;
        line-height: 30px;
        margin-bottom: 2em;
    }
    
    .left-trainer a {
        padding: .8em 1em;
    }

    .right-trainer {
        width: 400px;
        height: 440px;    
        background-position-x: 40%;
        background-position-y: 40%;
    }
    /* -----trainer-section---end----- */

    /* -------video-section--------- */
    .caption-container h1 {
        font-size: 30px;
    }

    .caption-container a {
        padding: .5em 1.8em;
    }
    /* -------video-section--end------- */


}

@media screen and (min-width: 640px) {
    .top-bar {
        display: none;
    }
}